In [1]:
import datetime

import pandas as pd

# Load data

In [2]:
participant_df = pd.read_csv(f'./raw_data/participant.csv')
participant_df.head()

,id,creation_date,participant_group,participant_type,submission_date,answers_d1,answers_d2,demographic_info
0,cGlsb3RfcGFydGVjaXBhbnRlXzE=,2024-06-26 19:46:50.921525,C,REGULAR,2024-06-26 20:02:24.076258,c739006a-8253-4f0e-b9b6-4b04c634cc7c,71a3ac08-7168-4d16-9e87-64dc0f48d543,a8f15cb2-1209-402b-8811-cf8c8868dadc
1,cGlsb3RfcGFydGVjaXBhbnRlXzI=,2024-06-26 19:47:07.712534,D,REGULAR,2024-06-26 19:59:43.827209,bf02590a-1275-4dda-94f4-c3e0f443c2ed,24fb4e04-324b-4b4b-af2d-5bb7742f6792,768ecc0b-30fa-42ff-bdaa-760d38ffcdb7
2,cGlsb3RfcGFydGVjaXBhbnRlXzM=,2024-06-26 19:45:54.642664,A,REGULAR,2024-06-26 20:18:29.838274,440f6438-877f-41e9-90e5-8e0f553ea93b,bfea6c6f-8536-4df9-bedd-9f90a7a6d743,66a33a16-7bf3-4240-810c-042e18785dce
3,cGlsb3RfcGFydGVjaXBhbnRlXzQ=,2024-06-26 19:46:49.587677,B,REGULAR,2024-06-26 20:07:57.630823,15820e4a-d1a0-4a0f-ace7-0fc60a1f62ab,a21ce22c-1d12-4787-90bd-46d3732d291e,ac7e36bd-7813-4809-931b-15d76b077655

In [3]:
demographic_info_df = pd.read_csv(f'./raw_data/demographic_info.csv')
demographic_info_df.head()

,uuid,age_range,education_fields,education_level,employment,employment_fields,italian_knowledge
0,66a33a16-7bf3-4240-810c-042e18785dce,25-34,ENGINEERING,MASTER,EMPLOYEE,IT,M
1,768ecc0b-30fa-42ff-bdaa-760d38ffcdb7,18-24,ENGINEERING,MASTER,STUDENT,IT,M
2,a8f15cb2-1209-402b-8811-cf8c8868dadc,25-34,ENGINEERING,PHD,EMPLOYEE,IT,M
3,ac7e36bd-7813-4809-931b-15d76b077655,25-34,ENGINEERING,MASTER,EMPLOYEE,IT,M

In [4]:
answers_d1_df = pd.read_csv(f'./raw_data/answers_d1.csv')
answers_d1_df.head()

                                   uuid  q1  q2  q3  q4  q5  q6
0  15820e4a-d1a0-4a0f-ace7-0fc60a1f62ab   1   1   1   1   1   1
1  440f6438-877f-41e9-90e5-8e0f553ea93b   1   1   1   1   1   1
2  bf02590a-1275-4dda-94f4-c3e0f443c2ed   1   1   1   1   1   1
3  c739006a-8253-4f0e-b9b6-4b04c634cc7c   1   1   1   1   1   1

In [5]:
answers_d2_df = pd.read_csv(f'./raw_data/answers_d2.csv')
answers_d2_df.head()

                                   uuid  q1  q2  q3  q4  q5  q6
0  24fb4e04-324b-4b4b-af2d-5bb7742f6792   1   2   1   4   1   1
1  71a3ac08-7168-4d16-9e87-64dc0f48d543   1   2   1   4   1   1
2  a21ce22c-1d12-4787-90bd-46d3732d291e   1   1   4   3   1   1
3  bfea6c6f-8536-4df9-bedd-9f90a7a6d743   1   1   1   2   2   1

# Report by participant

In [6]:
def print_demographic_info(_demographic_info):
  # age_range	education_fields	education_level	employment	employment_fields	italian_knowledge
  print("AGE RANGE:", _demographic_info['age_range'])
  print("EDUCATION FIELDS:", _demographic_info['education_fields'])
  print("EDUCATION LEVEL:", _demographic_info['education_level'])
  print("EMPLOYMENT:", _demographic_info['employment'])
  print("EMPLOYMENT FIELDS:", _demographic_info['employment_fields'])


def print_answers(_answers):
  print('q1\tq2\tq3\tq4\tq5\tq6')
  print(f"{_answers['q1']}\t{_answers['q2']}\t{_answers['q3']}\t{_answers['q4']}\t{_answers['q5']}\t{_answers['q6']}")

In [7]:
for participant in participant_df.to_dict(orient='records'):
  id = participant['id']
  group = participant['participant_group']
  start_date = datetime.datetime.strptime(participant['creation_date'], "%Y-%m-%d %H:%M:%S.%f")
  end_date = datetime.datetime.strptime(participant['submission_date'], "%Y-%m-%d %H:%M:%S.%f")
  duration = (end_date - start_date).total_seconds() / 60.0

  print("ID", id)
  print("GROUP:", group)
  print("START DATE:", start_date)
  print("END DATE:", end_date)
  print("DURATION:", duration)

  print('')
  demographic_info = demographic_info_df[demographic_info_df['uuid'] == participant['demographic_info']].to_dict(orient='records')[0]
  print_demographic_info(demographic_info)

  print('')
  answers_d1 = answers_d1_df[answers_d1_df['uuid'] == participant['answers_d1']].to_dict(orient='records')[0]
  answers_d2 = answers_d2_df[answers_d2_df['uuid'] == participant['answers_d2']].to_dict(orient='records')[0]
  if group == 'A':
    print('D1 Originale')
    print_answers(answers_d1)
    print('D2 Semplificato')
    print_answers(answers_d2)
  elif group == 'B':
    print('D1 Semplificato')
    print_answers(answers_d1)
    print('D2 Originale')
    print_answers(answers_d2)
  elif group == 'C':
    print('D2 Originale')
    print_answers(answers_d2)
    print('D1 Semplificato')
    print_answers(answers_d1)
  elif group == 'D':
    print('D2 Semplificato')
    print_answers(answers_d2)
    print('D1 Originale')
    print_answers(answers_d1)
  print('==============')

ID cGlsb3RfcGFydGVjaXBhbnRlXzE=
GROUP: C
START DATE: 2024-06-26 19:46:50.921525
END DATE: 2024-06-26 20:02:24.076258
DURATION: 15.552578883333332

AGE RANGE: 25-34
EDUCATION FIELDS: ENGINEERING
EDUCATION LEVEL: PHD
EMPLOYMENT: EMPLOYEE
EMPLOYMENT FIELDS: IT

D2 Originale
q1	q2	q3	q4	q5	q6
1	2	1	4	1	1
D1 Semplificato
q1	q2	q3	q4	q5	q6
1	1	1	1	1	1
==============
ID cGlsb3RfcGFydGVjaXBhbnRlXzI=
GROUP: D
START DATE: 2024-06-26 19:47:07.712534
END DATE: 2024-06-26 19:59:43.827209
DURATION: 12.60191125

AGE RANGE: 18-24
EDUCATION FIELDS: ENGINEERING
EDUCATION LEVEL: MASTER
EMPLOYMENT: STUDENT
EMPLOYMENT FIELDS: IT

D2 Semplificato
q1	q2	q3	q4	q5	q6
1	2	1	4	1	1
D1 Originale
q1	q2	q3	q4	q5	q6
1	1	1	1	1	1
==============
ID cGlsb3RfcGFydGVjaXBhbnRlXzM=
GROUP: A
START DATE: 2024-06-26 19:45:54.642664
END DATE: 2024-06-26 20:18:29.838274
DURATION: 32.5865935

AGE RANGE: 25-34
EDUCATION FIELDS: ENGINEERING
EDUCATION LEVEL: MASTER
EMPLOYMENT: EMPLOYEE
EMPLOYMENT FIELDS: IT

D1 Originale
q1	q2	q3	q4	q5	q6
1	1	1	1	1	1
D2 Semplificato
q1	q2	q3	q4	q5	q6
1	1	1	2	2	1
==============
ID cGlsb3RfcGFydGVjaXBhbnRlXzQ=
GROUP: B
START DATE: 2024-06-26 19:46:49.587677
END DATE: 2024-06-26 20:07:57.630823
DURATION: 21.134052433333334

AGE RANGE: 25-34
EDUCATION FIELDS: ENGINEERING
EDUCATION LEVEL: MASTER
EMPLOYMENT: EMPLOYEE
EMPLOYMENT FIELDS: IT

D1 Semplificato
q1	q2	q3	q4	q5	q6
1	1	1	1	1	1
D2 Originale
q1	q2	q3	q4	q5	q6
1	1	4	3	1	1
==============